.detailWrapper {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: var(--main-width);
    margin: 0 auto;
    padding: 0;
    padding-top: 25px;
}

.detailLeft {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

.detailLeftTop {
    width: 100%;
    height: 353px;
    display: flex;
}

.posterContainer {
    position: relative;
    display: inline-block;
    width: 28%;
}

.detailPoster {
    display: block;
    border-radius: 12px;
    aspect-ratio: 2 / 3;
    width: 100%;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
}

.detailContainer {
    display: block;
    width: 72%;
    height: 100%;
    color: var(--black-font);
    padding: 0 25px 0 25px;
}

.customDescriptions :global(.ant-descriptions-title) {
    color: var(--black-font);
    margin-bottom: 0;
    font-size: x-large;
}

.customDescriptions :global(.ant-descriptions-header) {
    margin-bottom: 8px;
}

.truncateDescription {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
}

.genres {
    margin-bottom: 25px;
}

.genreItem {
    text-align: center;
    background-color: var(--grey-bg);
    margin-right: 12px;
    padding: 2px 12px 2px 12px;
}

.detailReview {
    height: 60%;
}

.reviewSection {
    padding: 25px 25px 0 0;
}

.detailRight {
    width: 30%;
    height: fit-content;
}

.noReviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    width: 100%;
    height: 185px;
    border-radius: 12px;
    border: 1px solid var(--grey-border);
}

.watchBtn {
    margin-top: 25px;
}

.detailVideo {
    position: relative;
    width: 100%;
    padding-right: 25px;
    padding-bottom: 25px;
}

.videoIframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
    border-radius: 12px;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
}

@media (max-width: 480px) {
    .detailWrapper {
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 100%;
        padding: 3% 3%;
    }

    .detailLeft {
        width: 100%;
    }

    .detailLeftTop {
        width: 100%;
        height: fit-content;
        padding: 0;
    }

    .posterContainer {
        width: 35%;
        height: fit-content;
    }

    .detailPoster {
        width: 100%;
        aspect-ratio: 2 / 3; /* Consistently maintain the same aspect ratio */
    }

    .detailContainer {
        display: block;
        width: 65%;
        height: 100%;
        padding: 0;
        margin-left: 10px;
    }

    .customDescriptions{
        width: 100%;
        margin: 0;
    }

    .customDescriptions :global(.ant-descriptions-title) {
        font-size: medium;
        margin: 0;
        padding: 0;
    }
    
    .truncateDescription {
        -webkit-line-clamp: 2;
    }

    .watchBtn {
        margin-top: 10px;
    }

    .detailReview {
        width: 100%;
        height: fit-content;
    }

    .reviewSection {
        padding: 10px 10px 0 0;
    }

    .reviewSection h2{
        font-size: 20px;
    }

    .detailRight {
        width: 100%;
        margin-top: 10px;
    }

    .detailRight h2{
        font-size: 20px;
    }

    .customDescriptions :global(.ant-descriptions-header) {
        margin-bottom: 8px;
    }    
}