.similar-container{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 15%;
    margin-bottom: 15px;
    text-decoration: none;
}

.similar-poster{
    width: 117px;
    height: 100%;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
    margin-right: 15px;
}

.similar-detail{
    color: var(--black-font);
    width: 65%;
    height: 175px;
}

.movie-title{
    color: var(--black-font);
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 5px 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#similar-movie-title{
    padding: 0 5px 0 5px;
}

.genres{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

#similar-movie-subtitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 5px;
    padding: 0 5px 0 5px;
    color: var(--black-font);
}

#similar-movie-title, #similar-genres{
    margin-bottom: 25px;
}

#similar-genres{
    padding: 0 5px 0 5px;
}

#similar-genre-item{
    font-size: 12px;
    padding: 1% 2% 1% 2%;
}

.rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40px;
}

.star-icon{
    font-size: 18px;
    color: var(--star-icon);
    margin-left: 4px;
}

@media (min-width: 481px) and (max-width: 1024px) {
    .similar-container{
        width: 400px;
        height: fit-content;
        margin-bottom: 15px;
    }

    .similar-detail{
        color: var(--black-font);
        width: 60%;
        height: 175px;
    }
}