.review-card{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    width: 100%;
    color: var(--black-font);
    margin-bottom: 20px;
}

.review-left{
    display: flex;
    flex-direction: column;
    margin-right: 14px; 
}

.author-avatar{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
}

.review-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.author-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 14px;
    margin-bottom: 4px;
}

.author-username{
    display: flex;
}

.author-name{
    margin: 0;
    font-weight: bold;
}

.review-date{
    color: var(--grey-font);
    margin-top: 1px;
    margin-left: 5px;
    font-size: 13px;
}

#review-rating{
    width: fit-content;
}

.rating-score, .rating-score-total{
    color: var(--star-icon);
    font-weight: bold;
}

.review-content{
    color: var(--black-font);
    font-size: 14px;
    margin: 0;
    text-align: justify;
}

.read-more-btn{
    background-color: transparent;
    border: none;
    color: var(--grey-font);
    cursor: pointer;
    padding: 0;
    margin-top: 4px;
    font-size: 13px;
    font-weight: bold;
}

@media (max-width: 480px) {
    .review-card{
        margin-bottom: 15px;
    }

    .review-left{
        margin-right: 10px; 
    }

    .review-date{
        margin-top: 0px;
        margin-left: 5px;
        font-size: 12px;
    }

    .author-details{
        font-size: 12px;
    }
}