.movie-link{
    text-decoration: none;
    color: var(--black-font);
}

.movie-subtitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 0px;
    color: var(--black-font);
}

.rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40px;
}

.star-icon{
    font-size: 18px;
    color: var(--star-icon);
    margin-left: 4px;
}