@media (max-width: 480px) {
    .movie-title{
        font-size: 14px;
    }

    .movie-subtitle{
        font-size: 12px;
        margin-bottom: 0px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

}

@media (min-width: 769px) and (max-width: 900px) {

}

@media (min-width: 901px) and (max-width: 1152px) {

}