.homeWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeDiv{
    background-color: var(--white);
    width: var(--main-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}