.homeWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeDiv{
    background-color: var(--white);
    width: var(--main-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 481px) and (max-width: 1024px) {
    .homeDiv{
        width: var(--tablet-width);
    }
}