.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p{
    color: var(--black-font);
    margin-top: 16px;
}

@media (max-width: 480px) {
    .footer p{
        margin-top: 15px;
        font-size: 12px;
    }
    
}