.searchWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchResult{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--main-width);
}

.searchKeyword{
    font-size: 24px;
    color: var(--grey-font);
    margin-left: 16px;
    width: fit-content;
}

.movieSection{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sectionHeader{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 0.5% 0 0.5%;
    width: 100%;
}

.sectionHeaderTitle{
    color: var(--black-font);
    margin-top: 30px;
    margin-bottom: 30px;
    width: max-content;
}

.movieContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.movieList{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    width: min-content;
    justify-items: center;
    align-items: center;
}

@media (max-width: 480px) {
    .sectionHeaderTitle {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 15px;
        font-size: 18px;
    }

    .movieList {
        grid-template-columns: repeat(2, 2fr);
        width: 100%;
        gap: 8px;
    }

    .searchKeyword{
        font-size: 16px;
        margin-left: 10px;
        width: 180px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .searchResult{
        width: var(--tablet-width);
    }

    .movieList{
        grid-template-columns: repeat(4, 1fr);
    }
}